body {

  /* For the Footer Menu */
  padding-bottom: 51px;

}

.clear {
  clear: both;
}

#home-search {
  background: @gray  url('@{img-path}search-bg.jpg') repeat;
  .dizeres {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 20px;
    color: white;
  }

  .search-home {

  }


}

#promo-livro {
  background:#e6e6e6 ;
  border: 1px solid #cacaca;
  padding: 20px;

  h3 {
    margin-top: 0;
    font-weight: bold;
    font-size: 19px ;
    text-align: center;
  }
  img {
    padding-bottom: 30px;
  }
  p {
    text-align: center;
  }
  button {
    padding-left: 30px;
    padding-right: 30px;
  }

  .btn, .btn-group {
    width: 100%;
  }
}
@media (min-width: @screen-sm-min) {
  #promo-livro {
    padding: 30px;
    h3,p {
      text-align: left;
    }
    img {
      padding-bottom: 0px;
    }

    .btn, .btn-group {
      width: auto;
    }
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  #home-search {
    .dizeres{
        margin: 50px;
    }



    .search-home {
      margin-bottom: 60px ;
    }
    .form-control {
      padding: 25px 20px;
      font-size: 16px;

    }

    .btn-default {
      padding:12px 30px;
      font-size: 20px;
      background-color: @brand-primary;
      color: white;
      border: 0px;

    }

  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {}

.dmbs-container {

}

.dmbs-header {

}

.dmbs-header-img {

}

.dmbs-header-text {

}

.dmbs-top-menu {

}

.dmbs-content {

}

.dmbs-main {

}

.dmbs-left {

}

.dmbs-right {

}

.dmbs-footer-menu {

}

.dmbs-author-credits {

}

.dmbs-footer {

}
