html {
  position: relative;
  min-height: 100%;
}


body {

  /* For the Footer Menu */
  //padding-bottom: 122px;
  margin-bottom: 95px;
  background: #f3f3f3;


}

/*
*/

/*********************************/

#footer {
  background: white;
  border-top: 1px solid @border-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 95px;
  padding-top: 30px;

}

/**************************************/
a {

}

.clear {
  clear: both;
}

#home-search {
  background: @gray  url('@{img-path}search-bg.jpg') repeat;
  .dizeres {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin: 20px;
    color: white;
  }

  .search-home {
    margin-bottom: 30px;

  }

}

#assuntos-home {

  h2 {
    margin: 20px 0 30px 0;
    font-size: 20px;
    color: @gray-darker;
    font-weight: bold;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      a {
        font-size: 14px;
        font-weight: bold;

      }
    }
  }
  margin-bottom: 20px;
}

@media (min-width: @screen-sm-min) {
  #assuntos-home {
    margin-bottom: 30px;
    margin-top: 15px;
    ul {

      li {

        padding-bottom: 15px;
        a {
          font-size: 16px;

        }
      }
    }
  }
}

/*******************************/
#feed-home {
  margin-top: 15px;
  h2 {
    margin: 20px 0 20px 0;
    font-size: 20px;
    color: @gray-darker;
    font-weight: bold;
  }
  .item-feed {
    margin-bottom: 30px;
  }
  .data {
    font-size: 10px;
    text-transform: uppercase;
  }

  h3 {
    color: @gray-darker;
    font-weight: bold;
    font-size: @font-size-base;
    margin: 0;
    padding: 0;
    padding: 5px 0 5px 0;

  }
  p {
    color: @gray;
  }
}

/********************************/

#promo-livro {
  background: #e6e6e6;
  border: 1px solid @border-color;
  padding: 20px;

  h3 {
    margin-top: 0;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
  }
  img {
    padding-bottom: 30px;
  }
  p {
    text-align: center;
  }
  a.btn {
    padding-left: 30px;
    padding-right: 30px;
  }

  .btn, .btn-group {
    width: 100%;
  }
}

@media (min-width: @screen-sm-min) {
  #promo-livro {
    padding: 30px;
    h3, p {
      text-align: left;
    }
    img {
      padding-bottom: 0px;
    }

    .btn, .btn-group {
      width: auto;
    }
  }

}

/************************* */
/* Cronologia */
#cronologia-page {
  .timeline {
    position:absolute;
    left:40px;
    margin-left: -2px;
    width: 3px;
    background: @border-color;
    height:90%;
    z-index: -1;

  }

  .periodo {
   // margin: 0 auto;
   // position: relative;
    background-color: #116db6;
    width: 130px;
    color: white;
    z-index: 1;
    font-weight: bold;
    padding: 5px 10px;
    border-radius:10px;
    font-size: @font-size-h4 ;
    border: 3px solid @border-color;
    margin-top: 30px;
    position: relative;
    left: 0;
    margin-left:-20px;
    margin-right: 100%;
  }

  .entry {
      margin-bottom: 30px;
      margin-top: 10px;
      padding-left: 45px;
      h3 {
        font-weight: bold;
        font-size: @font-size-h4  ;
      }
  }
  .entry-left {
      text-align: left;

  }

  /*.entry-right {
    text-align: left;
    margin-left: 35px;

   // margin-left: 50%;

  }*/

  .marker {
    border-radius: 50%;
    background: white;
    border: 3px solid @border-color;
    width: 20px;
    height:20px;
    margin-top:30px;
    float: left;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  #cronologia-page {
    .timeline {
      position:absolute;
      left:50%;
      margin-left: -2px;
      width: 3px;
      background: @border-color;
      height:90%;
      z-index: -1;
    }

    .periodo {
      // margin: 0 auto;
      // position: relative;

      width: 130px;
      margin-top: 30px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .entry {
      margin-bottom: 30px;
      margin-top: -38px;
      padding-left: 30px;

    }
    .entry-left {
      text-align: right;
      margin-right: 20px;
      margin-left:0 !important;
      padding-right: 30px;
    }

    .entry-right {
      text-align: left;
      margin-left:-20px !important;
      margin-right: -20px;
      // margin-left: 50%;

    }

    .marker {
      width: 20px; 
      height:20px;
      margin-top:30px;
      float: none;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  #home-search {
    .dizeres {
      margin: 50px;
    }

    .search-home {
      margin-bottom: 60px;
    }
    .form-control {
      padding: 25px 20px;
      font-size: 16px;

    }

    .btn-default {
      padding: 12px 30px;
      font-size: 20px;
      background-color: @brand-primary;
      color: white;
      border: 0px;

    }

  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
}

.dmbs-container {

}

.replace {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  text-indent: -9999px;
}

#header {
  background-color: #116db6;

  .parceiros {
    display: table;
    margin: 0 auto;

    padding-top: 1.8em;

    ul {
      margin: 0;
      padding: 0;
      float: right;
      li {
        list-style: none;
        display: inline;
        background: white;
        padding: 20px 5px 20px 10px;

        margin-left: 5px;
        margin-right: 5px;
      }

    }

    .cmsjc {
      height: 52px;
      width: 52px;
      background: url('@{img-path}search-bg.jpg') no-repeat;
    }
  }
}

@media (min-width: @screen-sm-min) {
  #header {
    .parceiros {
      ul {
        float: right;

      }
    }
  }
}

.dmbs-header {
  margin: 25px 0;
}

.dmbs-header-img {

}

.dmbs-header-text {

}

.dmbs-top-menu {
  margin-bottom: -20px;
  background: @brand-primary;

  .navbar {
    border: 0;
    margin-right: 15px;
    margin-left: 15px;
    background: @brand-primary;
  }
  .search-interna {
    font-size: 10px;
    text-transform: uppercase;
    color: white;
  }

}

@media (min-width: @screen-sm-min) {
  .dmbs-top-menu {
    margin-bottom: 0px;
    .navbar {
      margin-bottom: 0;
      border: 0;
      border-radius: 0;
      background: @brand-primary;
      min-height: 30px;
    }

    .navbar-nav > li > a {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
    .navbar {
      min-height: 40px !important
    }
    .navbar-inverse .navbar-nav > li > a {
      color: @blue-lighter;
      font-size: 12px;
    }

    .search-interna {
      background: @brand-primary;
      padding-bottom: 10px;
      font-size: 10px;
      text-transform: uppercase;
      position: absolute;
      float: right;
      margin-top: -30px;
      border-radius: 4px;

    }
  }
}

.dmbs-content {

}

.dmbs-main {
  h2.page-header{
    font-weight: bold;
    letter-spacing: -1px;
    border-bottom: 1px solid @border-color;
  }

  h3.category-header {

  }
  .category-item {
    padding-bottom: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid @border-color;

  }
  p{
    font-family: @font-family-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 25px;
    color: #6b6b6b;
  }

  .post-meta {
    margin-top:30px;
    font-family:@font-family-sans-serif ;
    font-size: @font-size-base;
    margin-bottom: -30px;
    a {
      font-weight: bold;
      text-transform: uppercase;
    }

  }
}

.dmbs-left {
  h3 {
    font-weight: bold;
    font-size: 20px;
    border-top: 3px solid @brand-primary;
    padding-top: 5px;
    padding-left: 10px;
    text-transform: uppercase;
  }
  ul {
    list-style: none;
    padding: 0;
    width: 100%;
    .last {
      border-bottom: 1px solid @border-color;
    }

    li {
      position: relative;
      list-style: none;
      color: @brand-primary;
      font-size:16px;
      &:hover {
        color: white;
        > a {
          background-color: @brand-primary;
          color: #FFF;
        }
        ul {
          display: block;
        }
      }
      a {
        display: block;
        text-decoration: none;
        color: @brand-primary;
        background: @body-bg;
        padding: 10px;
        border-top: 1px solid @border-color;
        border-radius: none !important;
        &:hover {
          background: @brand-primary;
          color: white;
        }
      }

      /** FOR DROPDOW**/
      /*
      ul {
        position: absolute;
        left: 262px; //212
        top: 0;
        display: none;
        border-top: 1px solid darken(@border-color, 5%);
        border-bottom: 2px solid darken(@border-color, 5%);
        border-right: 2px solid darken(@border-color, 5%);
        border-left: 2px solid darken(@border-color, 5%);

        li {
          a {

            font-weight: normal;
            padding-left: 20px;
            text-transform: none;
          }
        }

      } */
    }
  }
}

.dmbs-right {

}

.dmbs-footer-menu {

}

.dmbs-author-credits {

}

.dmbs-footer {

}
